apiVersion: v1
kind: Namespace
metadata:
  name: loki-stack
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: loki-stack
  namespace: kube-system
spec:
  targetNamespace: loki-stack
  chart: https://grafana.github.io/loki/charts/loki-stack-VERSION.tgz
